<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mb-4 mx-4">
      <form class="card-body p-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Register</h1>
        <p class="text-medium-emphasis">Create your account</p>

        <div class="input-group mb-3">
          <label cCol cLabel for="email">jdjhajk</label>
          <input
            formControlName="email"
            id="email"
            type="email"
            placeholder="Email"
            [ngClass]="{
              invalid: form.get('email').invalid && form.get('email').touched
            }"
          /><span
            class="helper-text red-text"
            *ngIf="form.get('email').invalid && form.get('email').touched"
          >
            <span *ngIf="form.get('email').errors['required']"
              >Fill in the email field</span
            >
            <span *ngIf="form.get('email').errors['email']"
              >Enter a correct email</span
            >
          </span>
        </div>
        <div class="input-group mb-3">
          <input class="form-control" type="password" placeholder="Password" />
        </div>
        <div class="input-group mb-4">
          <input
            class="form-control"
            type="password"
            placeholder="Repeat password"
          />
        </div>
        <div class="text-end" style="font-size: 0.9rem">
          Have an account?&nbsp;<a tabindex="-1" routerLink="/login">Login</a>
        </div>
        <button
          cButton
          class="btn btn-block btn-success"
          type="submit"
          [disabled]="form.invalid || form.disabled"
        >
          Create Account
        </button>
      </form>
    </div>
  </div>
</div>
