<c-sidebar visible #sidebar="cSidebar" class="border-end" narrow unfoldable>
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand
      [brandFull]="{
        src: '../../../icons/coreui-base.svg',
        width: 200,
        height: 46,
        alt: 'Otantik'
      }"
      [brandNarrow]="{
        src: '../../../icons/coreui-base.svg',
        width: 46,
        height: 46,
        alt: 'CoreUI Logo'
      }"
    ></c-sidebar-brand>
  </c-sidebar-header>
  <c-sidebar-nav [navItems]="navItems" />
</c-sidebar>

<!-- <main class="container"><router-outlet></router-outlet></main> -->
<c-container class="h-auto"><router-outlet></router-outlet></c-container>
