<div
  *ngIf="currentUserIsAdmin"
  class="mb-4 align-items-center d-flex flex-row justify-content-end"
>
  <button
    cButton
    class="float-end mb-1 z-index-2"
    variant="ghost"
    size="lg"
    color="dark"
    (click)="addProduct()"
  >
    <svg cIcon name="cil-playlist-add" size="lg" class="me-2"></svg>Add product
  </button>
</div>

<div *ngIf="showProductsInCategoriesSwitcherTEMPLATE" class="mb-4">
  <c-form-check
    inline="true"
    [switch]="true"
    class="align-items-center d-flex flex-row justify-content-end"
  >
    <input
      cFormCheckInput
      type="checkbox"
      checked
      id="showProductsInCategories"
      (click)="showProductsAll()"
    />
    <label class="ms-1" cFormCheckLabel>Show products in categories</label>
  </c-form-check>
</div>

<div *ngIf="showCategoriesTEMPLATE">
  <div *ngIf="categories$ | async as categories; else loader">
    <div *ngIf="categories.length !== 0">
      <c-row [gutter]="2" class="mb-2" [lg]="6" [md]="4" [xs]="1">
        <c-card *ngFor="let category of categories" class="mx-1">
          <div
            *ngIf="category._id"
            href="javascript:void(0);"
            (click)="showProductsByCategory(category._id, category.name)"
            style="cursor: pointer"
          >
            <img
              cCardImg="top"
              [src]="category.imageSrc ? category.imageSrc : noImage"
            />
            <c-card-body>
              <h2 cCardTitle>{{ category.name }}</h2>
            </c-card-body>
          </div>
          <button
            *ngIf="currentUserIsAdmin"
            cButton
            type="button"
            size="sm"
            class="float-end mb-1 z-index-2"
            variant="ghost"
            color="dark"
            (click)="editCategory(category)"
          >
            <svg cIcon name="cil-pencil" size="lg" class="me-2"></svg>
            Edit category
          </button></c-card
        >
      </c-row>
    </div>
  </div>
</div>

<ng-container
  *ngIf="!showCategoriesTEMPLATE && !showProductsInCategoriesSwitcherTEMPLATE"
>
  <ng-container
    *ngTemplateOutlet="
      ProductsByCategoryTEMPLATE;
      context: {
        categoryId: selectedCategoryId,
        categoryName: selectedCategoryName
      }
    "
  ></ng-container>
</ng-container>

<ng-container
  *ngIf="!showCategoriesTEMPLATE && !showProductsByCategoryTEMPLATE"
>
  <ng-container *ngTemplateOutlet="ProductsAllTEMPLATE"></ng-container
></ng-container>

<div>
  <ng-template
    #ProductsByCategoryTEMPLATE
    let-categoryId="categoryId"
    let-categoryName="categoryName"
  >
    <div *ngIf="!fetchingProducts; else loader">
      <ng-container *ngIf="productsInCategories.length !== 0"
        ><span
          ><h3>{{ categoryName }}</h3></span
        ><button
          cButton
          class="mb-3 d-flex align-items-center justify-content-center"
          color="dark"
          variant="ghost"
          (click)="returnToCategories()"
        >
          <svg cIcon name="cil-arrow-circle-left" size="lg" class="me-2"></svg>
          Back to categories
        </button>

        <c-card class="mb-3 w-100" *ngFor="let product of productsInCategories">
          <c-row class="g-0">
            <c-col [md]="2">
              <img
                [cCardImg]
                [src]="product.imageSrc ? product.imageSrc : noImage"
                [alt]="product.name"
              />
            </c-col>
            <c-card-body cCol [md]="8">
              <h5 cCardTitle>{{ product.name }}</h5>

              <p
                cCardText
                #ellipsisText
                class="text-truncate"
                style="max-width: w-100"
                [class.text-untruncate]="product.isDescriptionTrancated"
                (click)="textTruncate(product)"
              >
                {{ product.description }}
              </p>

              <p cCardText *ngIf="product.unit">
                <small class="text-medium-emphasis"
                  >Unit of measurement:
                  <strong>{{ product.unit }}</strong></small
                >
              </p> </c-card-body
            ><c-col
              [md]="1"
              class="align-items-center d-flex flex-column justify-content-center"
              ><h6>{{ product.cost | currency : "EUR" }}</h6></c-col
            ><c-col
              *ngIf="currentUserIsAdmin"
              [md]="1"
              class="align-items-center d-flex flex-column justify-content-center"
              ><button
                class="mb-1 w-100"
                cButton
                size="sm"
                color="dark"
                (click)="editProduct(product)"
              >
                <svg cIcon name="cil-pencil" size="lg" class="me-2"></svg>
                Edit</button
              ><button
                class="w-100"
                cButton
                size="sm"
                color="danger"
                (click)="deleteProduct(product)"
              >
                <svg cIcon name="cil-trash" size="lg" class="me-2"></svg>Delete
              </button></c-col
            ><c-col
              *ngIf="!currentUserIsAdmin"
              [md]="1"
              class="align-items-center d-flex flex-column justify-content-center"
            >
              <input
                [(ngModel)]="product.quantity"
                cformControl
                type="number"
                class="mb-1 w-75 text-center small"
                min="1"
                value="1"
              />
              <button
                [disabled]="!product.quantity"
                cButton
                size="sm"
                color="dark"
                (click)="addToCart(product, currentUserId)"
              >
                Add to cart
              </button></c-col
            >
          </c-row>
        </c-card>
      </ng-container>
      <ng-container
        *ngIf="!productsInCategories || productsInCategories.length === 0"
        ><span
          ><h3>{{ categoryName }}</h3></span
        ><button
          cButton
          class="mb-3 d-flex align-items-center justify-content-center"
          color="dark"
          variant="ghost"
          (click)="returnToCategories()"
        >
          <svg cIcon name="cil-arrow-circle-left" size="lg" class="me-2"></svg>
          Back to categories
        </button>
        <h4>No products available for this category.</h4>
      </ng-container>
    </div>
  </ng-template>
</div>

<div>
  <ng-template #ProductsAllTEMPLATE
    ><div *ngIf="!fetchingProducts; else loader">
      <ng-container *ngIf="productsAll.length !== 0">
        <c-card class="mb-3 w-100" *ngFor="let product of productsAll">
          <c-row class="g-0">
            <c-col [md]="2">
              <img
                [cCardImg]
                [src]="product.imageSrc ? product.imageSrc : noImage"
                [alt]="product.name"
              />
            </c-col>
            <c-card-body cCol [md]="8">
              <h5 cCardTitle>{{ product.name }}</h5>
              <strong>{{ product.categoryName }}</strong>
              <p
                cCardText
                #ellipsisText
                class="text-truncate"
                style="max-width: w-100"
                [class.text-untruncate]="product.isDescriptionTrancated"
                (click)="textTruncate(product)"
              >
                {{ product.description }}
              </p>
              <p cCardText *ngIf="product.unit">
                <small class="text-medium-emphasis"
                  >Unit of measurement:
                  <strong>{{ product.unit }}</strong></small
                >
              </p> </c-card-body
            ><c-col
              [md]="1"
              class="align-items-center d-flex flex-column justify-content-center"
              ><h6>{{ product.cost | currency : "EUR" }}</h6></c-col
            ><c-col
              *ngIf="currentUserIsAdmin"
              [md]="1"
              class="align-items-center d-flex flex-column justify-content-center"
              ><button
                class="mb-1 w-100"
                cButton
                size="sm"
                color="dark"
                (click)="editProduct(product)"
              >
                <svg cIcon name="cil-pencil" size="lg" class="me-2"></svg>
                Edit</button
              ><button
                class="w-100"
                cButton
                size="sm"
                color="danger"
                (click)="deleteProduct(product)"
              >
                <svg cIcon name="cil-trash" size="lg" class="me-2"></svg>Delete
              </button></c-col
            ><c-col
              *ngIf="!currentUserIsAdmin"
              [md]="1"
              class="align-items-center d-flex flex-column justify-content-center"
            >
              <input
                cformControl
                [(ngModel)]="product.quantity"
                type="number"
                class="mb-1 w-75 text-center small"
                min="1"
                value="1"
              />
              <button
                cButton
                size="sm"
                color="dark"
                (click)="addToCart(product, currentUserId)"
                [disabled]="!product.quantity"
              >
                Add to cart
              </button></c-col
            >
          </c-row>
        </c-card>
      </ng-container>
      <ng-container *ngIf="!productsAll || productsAll.length === 0">
        <p>No products available.</p>
      </ng-container>
    </div>
  </ng-template>
</div>

<ng-template #loader>
  <div class="myspinner">
    <c-spinner></c-spinner>
  </div>
</ng-template>

<c-modal
  [visible]="modalEditCategoryVisible"
  (visibleChange)="modalEditCategoryVisible = $event"
  backdrop="static"
  id="modalEditCategory"
  #modalEditCategory
  ><div *ngIf="selectedCategory">
    <form
      cForm
      novalidate
      [formGroup]="formEditCategory"
      (ngSubmit)="onSubmitEditCategory()"
    >
      <c-modal-header
        ><h4 cModalTitle>
          Edit category <strong>{{ selectedCategory.name }}</strong>
        </h4></c-modal-header
      ><c-modal-body
        ><c-row class="mb-3"
          ><label cCol cLabel for="categoryName">Category name</label
          ><c-col
            ><input
              [valid]="
                formEditCategory.get('categoryName').touched &&
                formEditCategory.get('categoryName').valid
                  ? true
                  : formEditCategory.get('categoryName').touched &&
                    formEditCategory.get('categoryName').invalid
                  ? false
                  : undefined
              "
              autocomplete="off"
              cFormControl
              id="categoryName"
              type="text"
              formControlName="categoryName"
            /><c-form-feedback
              class="text-end"
              *ngIf="formEditCategory.get('categoryName').invalid"
              [valid]="!formEditCategory.get('categoryName').invalid"
              ><ng-container
                *ngIf="
                  formEditCategory.get('categoryName').touched &&
                  formEditCategory.get('categoryName').invalid
                "
                ><div
                  *ngIf="
                    formEditCategory.get('categoryName').errors['required']
                  "
                >
                  Category name is required
                </div>
                <div
                  *ngIf="
                    formEditCategory.get('categoryName').errors['minlength'] &&
                    formEditCategory.get('categoryName').errors['minlength'][
                      'requiredLength'
                    ]
                  "
                >
                  Category name must be at least
                  {{
                    formEditCategory.get("categoryName").errors["minlength"][
                      "requiredLength"
                    ]
                  }}
                  characters long
                </div></ng-container
              ></c-form-feedback
            ></c-col
          ></c-row
        ><c-row
          ><c-col class="d-flex align-items-center justify-content-center"
            ><img
              class="w-50 mb-3"
              *ngIf="imagePreview"
              [src]="imagePreview" /></c-col
          ><input
            style="display: none"
            accept="image/png, image/jpeg"
            type="file"
            (change)="onFileUpload($event)"
            #fileInput
          /><button
            class="d-flex align-items-center justify-content-center"
            cButton
            variant="outline"
            color="info"
            (click)="triggerClick()"
            [disabled]="formEditCategory.disabled"
          >
            <svg cIcon name="cil-cloud-upload" size="lg" class="me-2"></svg>
            Upload image
          </button></c-row
        ></c-modal-body
      ><c-modal-footer
        ><button
          cButton
          [disabled]="formEditCategory.invalid || formEditCategory.disabled"
          color="primary"
          variant="outline"
          type="submit"
          size="sm"
          class="mb-3 d-flex align-items-center justify-content-center"
        >
          <svg cIcon name="cil-save" size="lg" class="me-2"></svg>
          Save
        </button>
        <button
          (click)="toggleModalEditCategory()"
          cButton
          color="secondary"
          variant="outline"
          size="sm"
          class="mb-3 d-flex align-items-center justify-content-center"
        >
          <svg cIcon name="cil-x-circle" size="lg" class="me-2"></svg>
          Cancel
        </button>
      </c-modal-footer>
    </form>
  </div></c-modal
>

<c-modal
  [visible]="modalEditProductVisible"
  (visibleChange)="modalEditProductVisible = $event"
  backdrop="static"
  size="lg"
  id="modalEditProduct"
  #modalEditProduct
  ><div *ngIf="formEditProduct">
    <form
      cForm
      novalidate
      [formGroup]="formEditProduct"
      (ngSubmit)="onSubmitAddProduct()"
    >
      <c-modal-header><h4 cModalTitle>New product</h4></c-modal-header>
      <!-- display: block -->
      <c-modal-body>
        <!-- display: block -->
        <c-row>
          <!-- display: block -->
          <c-col>
            <!-- display: block -->
            <c-row>
              <!-- display: block -->
              <img
                class="w-100 mb-3"
                *ngIf="imagePreview"
                [src]="imagePreview"
              />
            </c-row>
            <!-- display: block -->
            <c-row>
              <!-- display: block -->
              <input
                style="display: none"
                accept="image/png, image/jpeg"
                type="file"
                (change)="onFileUpload($event)"
                #fileInput
              />
              <!-- display: block -->
              <button
                class="d-flex align-items-center justify-content-center"
                cButton
                variant="outline"
                color="info"
                (click)="triggerClick()"
                [disabled]="formEditProduct.disabled"
              >
                <svg cIcon name="cil-cloud-upload" size="lg" class="me-2"></svg>
                Upload image
              </button>
            </c-row>
          </c-col>
          <!-- display: block -->
          <c-col>
            <!-- display: block -->
            <label for="productName" class="mt-2">Product name</label>
            <!-- display: block -->
            <input
              [valid]="
                formEditProduct.get('productName').touched &&
                formEditProduct.get('productName').valid
                  ? true
                  : formEditProduct.get('productName').touched &&
                    formEditProduct.get('productName').invalid
                  ? false
                  : undefined
              "
              autocomplete="off"
              cFormControl
              id="productName"
              type="text"
              formControlName="productName"
            />
            <!-- display: block -->
            <c-form-feedback
              class="text-end"
              *ngIf="formEditProduct.get('productName').invalid"
              [valid]="!formEditProduct.get('productName').invalid"
            >
              <!-- display: block -->
              <ng-container
                *ngIf="
                  formEditProduct.get('productName').touched &&
                  formEditProduct.get('productName').invalid
                "
              >
                <!-- display: block -->
                <div
                  *ngIf="formEditProduct.get('productName').errors['required']"
                >
                  Product name is required
                </div>
                <!-- display: block -->
                <div
                  *ngIf="
                    formEditProduct.get('productName').errors['minlength'] &&
                    formEditProduct.get('productName').errors['minlength'][
                      'requiredLength'
                    ]
                  "
                >
                  Product name must be at least
                  {{
                    formEditProduct.get("productName").errors["minlength"][
                      "requiredLength"
                    ]
                  }}
                  characters long
                </div>
              </ng-container>
            </c-form-feedback>
            <label for="productUnit" class="mt-2">Unit of measurement</label>
            <input
              [valid]="
                formEditProduct.get('productUnit').touched &&
                formEditProduct.get('productUnit').valid
                  ? true
                  : formEditProduct.get('productUnit').touched &&
                    formEditProduct.get('productUnit').invalid
                  ? false
                  : undefined
              "
              autocomplete="off"
              cFormControl
              id="productUnit"
              type="text"
              formControlName="productUnit"
            />
            <!-- display: block -->
            <c-form-feedback
              class="text-end"
              *ngIf="formEditProduct.get('productUnit').invalid"
              [valid]="!formEditProduct.get('productUnit').invalid"
            >
              <!-- display: block -->
              <ng-container
                *ngIf="
                  formEditProduct.get('productUnit').touched &&
                  formEditProduct.get('productUnit').invalid
                "
              >
                <!-- display: block -->
                <div
                  *ngIf="formEditProduct.get('productUnit').errors['required']"
                >
                  Product unit of measurement is required
                </div>
              </ng-container>
            </c-form-feedback>
            <label for="productCost" class="mt-2">Cost, &euro;</label>
            <!-- display: block -->
            <input
              [valid]="
                formEditProduct.get('productCost').touched &&
                formEditProduct.get('productCost').valid
                  ? true
                  : formEditProduct.get('productCost').touched &&
                    formEditProduct.get('productCost').invalid
                  ? false
                  : undefined
              "
              autocomplete="off"
              cFormControl
              id="productCost"
              type="number"
              min="0.01"
              step="0.01"
              formControlName="productCost"
            />
            <c-form-feedback
              class="text-end"
              *ngIf="formEditProduct.get('productCost').invalid"
              [valid]="!formEditProduct.get('productCost').invalid"
            >
              <!-- display: block -->
              <ng-container
                *ngIf="
                  formEditProduct.get('productCost').touched &&
                  formEditProduct.get('productCost').invalid
                "
              >
                <!-- display: block -->
                <div
                  *ngIf="formEditProduct.get('productCost').errors['required']"
                >
                  Product cost is required
                </div>
                <div *ngIf="formEditProduct.get('productCost').errors['min']">
                  The cost of the product must be non-negative and a multiple of
                  1 cent
                </div>
              </ng-container>
            </c-form-feedback>
            <!-- display: block -->
            <label for="productDescription" class="mt-2">Description</label>
            <!-- display: block -->
            <textarea
              [valid]="
                formEditProduct.get('productDescription').touched &&
                formEditProduct.get('productDescription').valid
                  ? true
                  : formEditProduct.get('productDescription').touched &&
                    formEditProduct.get('productDescription').invalid
                  ? false
                  : undefined
              "
              autocomplete="off"
              cFormControl
              id="productDescription"
              type="text"
              rows="3"
              formControlName="productDescription"
            ></textarea>
            <!-- display: block -->
            <c-form-feedback
              class="text-end"
              *ngIf="formEditProduct.get('productDescription').invalid"
              [valid]="!formEditProduct.get('productDescription').invalid"
            >
              <!-- display: block -->
              <ng-container
                *ngIf="
                  formEditProduct.get('productDescription').touched &&
                  formEditProduct.get('productDescription').invalid
                "
              >
                <!-- display: block -->
                <div
                  *ngIf="
                    formEditProduct.get('productDescription').errors['required']
                  "
                >
                  Product description is required
                </div>
              </ng-container>
            </c-form-feedback>
          </c-col>
        </c-row>
        <!-- display: block -->
        <c-row class="mt-3">
          <!-- display: block -->
          <c-col class="w-50">
            <!-- display: block -->
            <c-row *ngIf="categories$ | async as categories">
              <!-- display: block -->
              <label>Category</label>
              <!-- display: block -->
              <c-button-group
                *ngIf="categories.length !== 0"
                class="form-check-inline blockAddCategory flex-wrap"
              >
                <!-- display: block -->
                <div *ngFor="let category of categories">
                  <!-- display: block -->
                  <input
                    [valid]="
                      formEditProduct.get('productCategory').touched &&
                      formEditProduct.get('productCategory').valid
                        ? true
                        : formEditProduct.get('productCategory').touched &&
                          formEditProduct.get('productCategory').invalid
                        ? false
                        : undefined
                    "
                    cFormCheckInput
                    class="btn-check"
                    type="radio"
                    id="{{ category._id }}"
                    value="{{ category._id }}"
                    formControlName="productCategory"
                  />
                  <!-- display: block -->
                  <label
                    cButton
                    variant="outline"
                    size="sm"
                    for="{{ category._id }}"
                    class="m-1"
                  >
                    {{ category.name }}
                  </label>
                  <!-- display: block -->
                </div>
              </c-button-group>
              <c-form-feedback
                class="text-end"
                *ngIf="formEditProduct.get('productCategory').invalid"
                [valid]="!formEditProduct.get('productCategory').invalid"
              >
                <!-- display: block -->
                <ng-container
                  *ngIf="
                    formEditProduct.get('productCategory').touched &&
                    formEditProduct.get('productCategory').invalid
                  "
                >
                  <!-- display: block -->
                  <div
                    *ngIf="
                      formEditProduct.get('productCategory').errors['required']
                    "
                  >
                    Product category is required
                  </div>
                </ng-container>
              </c-form-feedback>
            </c-row>
          </c-col>
          <!-- display: block -->
          <c-col>
            <div
              *ngIf="!blockAddCategoryVisible"
              class="d-flex justify-content-end align-items-center"
            >
              <button
                cButton
                variant="outline"
                color="info"
                size="sm"
                (click)="toggleAddCategoryBlock()"
              >
                <svg cIcon name="cil-playlist-add" size="sm" class="me-2"></svg>
                Add category
              </button>
            </div>
            <div *ngIf="blockAddCategoryVisible" class="blockAddCategory">
              <form cForm novalidate [formGroup]="formAddCategory">
                <!-- display: block -->
                <c-row>
                  <!-- display: block -->
                  <c-col>
                    <!-- display: block -->
                    <label sizing="sm" for="categoryName">Category name</label>
                    <!-- display: block -->
                    <input
                      [valid]="
                        formAddCategory.get('categoryName').touched &&
                        formAddCategory.get('categoryName').valid
                          ? true
                          : formAddCategory.get('categoryName').touched &&
                            formAddCategory.get('categoryName').invalid
                          ? false
                          : undefined
                      "
                      autocomplete="off"
                      cFormControl
                      id="categoryName"
                      type="text"
                      sizing="sm"
                      formControlName="categoryName"
                      class="mb-1"
                    />
                    <!-- display: block -->
                    <input
                      style="display: none"
                      accept="image/png, image/jpeg"
                      type="file"
                      (change)="onFileUploadCategoryAdd($event)"
                      #imageInput
                    />
                    <!-- display: block -->
                    <button
                      class="d-flex align-items-center justify-content-center"
                      cButton
                      variant="outline"
                      color="info"
                      size="sm"
                      (click)="triggerAddCategoryImageClick()"
                      [disabled]="formAddCategory.disabled"
                    >
                      <!-- display: block -->
                      <svg
                        cIcon
                        name="cil-cloud-upload"
                        size="sm"
                        class="me-1"
                      ></svg>
                      Upload image
                    </button>
                  </c-col>
                  <!-- display: block -->
                  <c-col>
                    <!-- display: block -->
                    <img
                      class="w-100"
                      *ngIf="imageCategoryAddPreview"
                      [src]="imageCategoryAddPreview"
                    />
                  </c-col>
                </c-row>
                <!-- display: block -->
                <c-row
                  class="mt-3 d-flex align-items-end justify-content-center"
                >
                  <!-- display: block -->
                  <c-col class="d-flex align-items-end justify-content-end">
                    <button
                      cButton
                      [disabled]="
                        formAddCategory.disabled || formAddCategory.invalid
                      "
                      variant="outline"
                      size="sm"
                      color="primary"
                      class="me-2"
                      (click)="onSubmitAddCategory()"
                    >
                      <!-- display: block -->
                      <svg cIcon name="cil-save" size="sm" class="me-1"></svg>
                      Save</button
                    ><!-- display: block -->
                    <button
                      cButton
                      variant="outline"
                      size="sm"
                      color="secondary"
                      (click)="toggleAddCategoryBlock()"
                    >
                      <!-- display: block -->
                      <svg
                        cIcon
                        name="cil-x-circle"
                        size="sm"
                        class="me-1"
                      ></svg>
                      Cancel
                    </button>
                  </c-col>
                </c-row>
              </form>
            </div>
          </c-col>
        </c-row>
      </c-modal-body>
      <c-modal-footer
        ><button
          (click)="onSubmitAddProduct()"
          cButton
          [disabled]="formEditProduct.invalid || formEditProduct.disabled"
          color="primary"
          variant="outline"
          type="submit"
          size="sm"
          class="mb-3 d-flex align-items-center justify-content-center"
        >
          <svg cIcon name="cil-save" size="lg" class="me-2"></svg>
          Save
        </button>
        <button
          (click)="toggleModalEditProduct()"
          cButton
          color="secondary"
          variant="outline"
          size="sm"
          class="mb-3 d-flex align-items-center justify-content-center"
        >
          <svg cIcon name="cil-x-circle" size="lg" class="me-2"></svg>
          Cancel
        </button></c-modal-footer
      >
    </form>
  </div></c-modal
>
