<div *ngIf="showMainContent">
  <div *ngIf="categories$ | async as categories; else loader">
    <div *ngIf="categories.length !== 0">
      <c-row [gutter]="4" class="mb-3" [lg]="5" [md]="4" [xs]="1">
        <c-card *ngFor="let category of categories" class="mx-1"
          ><a (click)="showMainContent = !showMainContent">
            <img cCardImg="top" [src]="category.imageSrc" />
            <c-card-body>
              <h2 cCardTitle>{{ category.name }}</h2>
            </c-card-body>
          </a></c-card
        >
      </c-row>
    </div>
  </div>
</div>

<ng-container *ngIf="!showMainContent">
  <ng-container *ngTemplateOutlet="productByCategory"></ng-container>
</ng-container>

<ng-template #loader>
  <div class="myspinner">
    <c-spinner></c-spinner>
  </div>
</ng-template>

<ng-template #productByCategory>
  <ng-container>
    <a href="javascript:void(0);" (click)="showMainContent = !showMainContent"
      >back</a
    ><p>product-page works!</p>
  </ng-container>
</ng-template>
