<ng-container *ngIf="productInCart.length !== 0">
  <c-card-group class="mb-4">
    <c-row class="g-0"
      ><c-card *ngFor="let product of productInCart" class="mb-3 w-100"
        ><c-col [md]="4"><img [cCardImg] [src]="product.imageSrc" /></c-col>
        <c-card-body cCol [md]="8">
          <h5 cCardTitle>{{ product.name }}</h5>
          <p cCardText>{{ product.categoryName }}</p>
          <p cCardText>
            <small class="text-medium-emphasis">{{ product.unit }}</small>
          </p></c-card-body
        ><c-col>fdfsdfsdfsdfsd</c-col>
      </c-card></c-row
    >
  </c-card-group>
  <div *ngIf="totalPrice">{{ totalPrice | currency : "EUR" }}</div>
</ng-container>
