// Here you can add other styles

// Backdrop background

/* .sidebar:hover {
  // scss-docs-start sidebar-backdrop-css-vars
  --#{$prefix}backdrop-zindex: #{$zindex-sidebar-backdrop};
  --#{$prefix}backdrop-bg: #{$sidebar-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$sidebar-backdrop-opacity};
  // scss-docs-end sidebar-backdrop-css-vars

  @include overlay-backdrop(
    var(--#{$prefix}backdrop-zindex),
    var(--#{$prefix}backdrop-bg),
    var(--#{$prefix}backdrop-opacity)
  );

  &:not(:hover) {
    @extend %sidebar-narrow;
  }
} */

.myspinner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-truncate {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.text-untruncate {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  cursor: pointer;
}

.trash {
  color: rgba(44, 56, 74, 0.95);
}

.trash:hover {
  cursor: pointer;
  color: red;
}

.trash.disabled {
  pointer-events: none;
  cursor: default;
}
.minusQty {
  color: rgba(44, 56, 74, 0.95);
}

.plusQty {
  color: rgba(44, 56, 74, 0.95);
}

.minusQty:hover {
  cursor: pointer;
  color: red;
}

.minusQty.disabled {
  pointer-events: none;
  cursor: default;
}

.plusQty:hover {
  cursor: pointer;
  color: green;
}

.plusQty.disabled {
  pointer-events: none;
  cursor: default;
}
